<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruoquan.demoweather"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />
    
    <!-- define update weather service permission -->
    <permission 
        android:protectionLevel="normal" 
        android:name="com.freeme.weather.UPDATE_WEATHER"/>
    
    <!-- DroiBaaS SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <application
        android:name=".ui.DemoWeatherApplaction"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data 
            android:name="com.droi.sdk.application_id" 
            android:value="7a8umbzhlud26CMJEJacfuJlMFDt6U2NlQChXdwV" />
        <meta-data 
            android:name="com.droi.sdk.platform_key" 
            android:value="jZjHsopvI3XismdjXeoD6H_t3T51Mf4D6H_t3T51" />
        <meta-data 
            android:name="com.droi.sdk.channel_name" 
            android:value="ruoquan001" />
        
        <activity
            android:name=".ui.WeatherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- updateself dialog-->
        <activity
            android:name="com.droi.sdk.selfupdate.DroiUpdateDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".managecity.CityManagement"
            android:label="@string/city_management_title" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.View" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".managecity.CityAddActivity"
            android:label="@string/city_add_title" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.View" />
            </intent-filter>
        </activity>
        
        <!-- apk info activity -->
        <activity 
		    android:name="com.ruoquan.apkinfo.ApkInfoActivity"
		    android:label="ApkInfo"
		    android:theme="@style/ApkInfoActivityTheme"
		    android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
        <provider 
            android:name=".data.WeatherProvider"
            android:authorities="com.ruoquan.provider.demoweather"
            android:exported="true" />
        
        <service android:name=".service.WeatherUpdateService"
            android:permission="com.ruoquan.demoweather.permission.UPDATE_WEATHER">
            <intent-filter>
				<action android:name="com.ruoquan.intent.action.updateweather" />
			</intent-filter>
        </service>
        
    
    </application>

</manifest>
